#titletext {
  font-size: 35pt;
  font-family: "Madimi One", sans-serif;
  color: #f03060;
  margin-left: 25%;
  display: inline;
}

#lineheader {
  border: solid;
  color: black;
  border-top: 1px;
  color: #249be0;
}

#verticalline {
  border: solid;
  color: black;
  border-top: 1px;
  margin-right: 60rem;
  transform: rotate(90deg);
  color: #f03060;
}

.circle {
  width: 20px;
  height: 20px;
  background-color: #d1d1d1;
  border-radius: 50%;
  display: inline-block;
  margin-left: 195px;
}

#writeATask {
  padding: 15px;
  border: 1px solid;
  border-radius: 10px;
  background-color: #c5f2fa;
  border: none;
  width: 15rem;
}

#writeATask::placeholder {
  color: #1b74a8;
  font-size: 9pt;
}

#taskConfirm {
  padding: 10px;
  margin-left: 5px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  background-color: #249be0;
  color: white;
  width: 50px;
}

#taskConfirm:hover {
  opacity: 0.6;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

#lightbulb {
  width: 3rem;
}
